.intro {  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, .5fr));
    grid-gap: 8em;
    justify-content: center;
}

.intro-text {
    grid-column: 1 / -1;
}

.post__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 1em;
    /* background-color: greenyellow; */
}

.post:nth-child(2) {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--secondary-color); */
    /* background-color: red; */
    grid-column: 1 / -1;
}

.post img {
    width: 250px;
    height: 360px;
}

.post:nth-child(2) img {
    width: 27rem;
    height: auto;
}

.post__details h2 {
    text-align: left;
}

.post__content {
    padding: 1.8em 1em 1em 1em;
}

.post__main img {
    float: left;
    margin-right: 1.5rem;
}

.post__read-more-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.post__read-more-section p {
    padding: 0;
}

.read-more-btn {
    font-size: 1.5em;
    font-family: var(--primary-font-family);
    padding: .7em 1.5em;
    background-color: transparent;
    /* background-color: white; */
    /* background-color: var(--secondary-color); */
    /* border: 1px solid black; */
    /* border: 3px dashed black; */
    border: 2px solid var(--secondary-color);
    /* border: 2px dotted black; */
    outline: none;
    cursor: pointer;
}