.walks__walks-list {
	display: grid;
	grid-template-columns: minmax(400px, 1fr);
	grid-auto-rows: min-content;
	grid-gap: 16em;
	justify-content: center;
	align-items: center;
	margin-top: 17vh;
}

.walks__walk-item {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, .6fr));
	grid-auto-rows: min-content;
	grid-gap: 2em;
	justify-content: center;
	list-style: none;
}

.walks__walk-item--photo-container {
	position: relative;
	width: 470px;
	height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
}

.walks__walk-item--photo-container::before {
	content: "";
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	border: 2px solid var(--secondary-color);
}

.walks__walk-item--description {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1em 0;
	border-top: 2px solid var(--secondary-color);
}

.walks__walk-item--description p {
	padding: .5em 0;
}

.walks__walk-item--reserve-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
	font-size: 1.5em;
	font-family: var(--primary-font-family);
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	padding: .5em 1.5em;
	border: 2px solid var(--secondary-color);
	background-color: transparent;
	outline: none;
	cursor: pointer;
	transition: background-color .5s;
}

.walks__walk-item--reserve-btn:hover {
	background-color: var(--secondary-color);
}

.walks__walk-item--time-details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

.walks__walk-item--dates {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin-top: .7em;
}

.walks__walk-item--dates div {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--primary-font-family);
	padding: 0 1.5em;
	margin: .4em;
	border: 2px solid var(--secondary-color);
}

.walks__walk-item--price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.6rem;
}

@media (max-width: 1280px) {
	.walks__walk-item--photo-container {
		margin: 0 auto;
	}
}

@media (max-width: 640px) {
	.walks__walks-list {
		grid-template-columns: minmax(400px, 1fr);
	}
	.walks__walk-item {
		grid-template-columns: repeat(auto-fit, minmax(400px, .6fr));
	}
	.walks__walk-item--photo-container {
		width: 400px;
		height: 560px;
	}
}

@media (max-width: 460px) {
	.walks__walks-list {
		grid-template-columns: minmax(280px, 1fr);
	}
	.walks__walk-item {
		grid-template-columns: repeat(auto-fit, minmax(280px, .6fr));
	}
	.walks__walk-item--photo-container {
		width: 280px;
		height: 420px;
	}
}

@media (max-width: 320px) {
	.walks__walks-list {
		grid-template-columns: minmax(220px, 1fr);
	}
	.walks__walk-item {
		grid-template-columns: repeat(auto-fit, minmax(220px, .6fr));
	}
	.walks__walk-item--photo-container {
		width: 220px;
		height: 330px;
	}
}

@media (max-width: 250px) {
	.walks__walks-list {
		grid-template-columns: minmax(200px, 1fr);
	}
	.walks__walk-item {
		grid-template-columns: repeat(auto-fit, minmax(200px, .6fr));
	}
	.walks__walk-item--photo-container {
		width: 200px;
		height: 300px;
	}
}