.boxes__boxes-list {
	display: grid;
	grid-template-columns: minmax(400px, 1fr);
	grid-gap: 8em;
	justify-content: center;
	align-items: center;
	margin-top: 17vh;
}

.boxes__box-item {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, .5fr));
	grid-auto-rows: min-content;
	grid-gap: 2em;
	justify-content: center;
}

.boxes__box-item--photo-container {
	width: 470px;
	height: 700px;
	object-fit: none;
	background-size: cover;
	object-position: right bottom;
	position: relative
}

.boxes__box-item--photo-container::before {
	content: "";
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	border: 2px solid var(--secondary-color);
}

.boxes__box-description {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1em 0;
	border-top:  2px solid var(--secondary-color);
}

.boxes__box-description p {
	padding: .5em 0;
}

.add-to-cart-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
	font-family: var(--primary-font-family);
	padding: .5em 1.5em;
	/* background-color: white; */
	/* background-color: var(--secondary-color); */
	background-color: transparent;
	/* border: 1px solid black; */
	/* border: 3px dashed black; */
	/* border: 3px dotted var(--secondary-color); */
	border: 2px solid var(--secondary-color);
	/* border: 2px dotted black; */
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	align-self: flex-end;
	transition: background-color .5s;
}

a.add-to-cart-btn{
	color: black;
	text-decoration: none;
}

.add-to-cart-btn:hover {
	background-color: var(--secondary-color);
}

.boxes__box-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.6rem;
}


@media (min-width: 1641px) {

}

@media (max-width: 1640px) {

}

@media (min-width: 1281px) {

}

@media (max-width: 1280px) {
	.boxes__box-item--photo-container {
		margin: 0 auto;
	}
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 640px) {
	.boxes__boxes-list {
		grid-template-columns: minmax(400px, 1fr);
	}
	.boxes__box-item {
		grid-template-columns: repeat(auto-fit, minmax(400px, .6fr));
	}
	.boxes__box-item--photo-container {
		width: 400px;
		height: 560px;
	}

}

@media (max-width: 460px) {
	.boxes__boxes-list {
		grid-template-columns: minmax(280px, 1fr);
	}
	.boxes__box-item{
		grid-template-columns: repeat(auto-fit, minmax(280px, .6fr));
	}
	.boxes__box-item--photo-container {
		width: 280px;
		height: 420px;
	}
}

@media (max-width: 320px) {
	.boxes__boxes-list {
		grid-template-columns: minmax(220px, 1fr);
	}
	.boxes__box-item {
		grid-template-columns: repeat(auto-fit, minmax(220px, .6fr));
	}
	.boxes__box-item--photo-container {
		width: 220px;
		height: 330px;
	}
}

@media (max-width: 250px) {
	.boxes__boxes-list {
		grid-template-columns: minmax(200px, 1fr);
	}
	.boxes__box-item {
		grid-template-columns: repeat(auto-fit, minmax(200px, .6fr));
	}
	.boxes__box-item--photo-container {
		width: 200px;
		height: 300px;
	}
}
