:root {
	--primary-color: #0C1C2F;
	--secondary-color: #cb9e51;
	--primary-font-family: 'Texturina', serif;
	--secondary-font-family: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	scroll-behavior: smooth;
}

section {
	width: 80%;
	min-height: 72vh;
	margin: 2em auto;
	padding-bottom: 10vh;
}

section h1 {
	font-size: 1.8em;
	font-family: var(--primary-font-family);
	font-weight: 500;
	color: black;
	margin: 0 0 2em 0;
	text-align: center;
}

section h2 {
	font-size: 1.6em;
	font-family: var(--primary-font-family);
	font-weight: 500;
	color: black;
	text-align: center;
}

section p {
	font-size: 1.4em;
	font-family: var(--primary-font-family);
	font-weight: 300;
	line-height: 1.7em;
	color: black;
}

.header-main {
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(100%);
    height: 100vh;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.header__logo {
    padding: 1em 1.2em;
}

.header__logo img {
    width: 280px;
}

.header__navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 18vh;
    padding-right: 1em;
    list-style: none;
}

.header__nav-item, .fa-bars {
    list-style: none;
    padding: .4em 1.2em;
    margin: 1em .5em;
    border-bottom: 2px solid transparent;
}

.header__nav-item a, .header__nav-menu {
	display: flex;
	justify-content: center;
	font-size: 1.65em;
	font-family: var(--primary-font-family);
	font-weight: 700;
	color: black;
	text-decoration: none;
	text-align: center;
}

.cart-icon {
	position: fixed;
	bottom: 11vh;
	right: 3vw;
	cursor: pointer;
}

.fa-shopping-basket {
	color: var(--secondary-color);
	font-size: 3em;
}

.arrow-icon {
	position: absolute;
	bottom: 11vh;
	right: 3vw;
	cursor: pointer;
}

.arrow-icon i {
	color: var(--secondary-color);
	font-size: 3.5em;
}

.main {
	margin: 0 auto;
	padding-top: .1rem;
}

.main h2 {
	font-size: 2rem;
}

.intro p, .main-info p {
	padding: .5em 0;
}

.main-info {
	display: grid;
	grid-template-columns: minmax(400px, 1fr);
	grid-gap: 16em;
	justify-content: center;
	margin-top: 8em;
}

.main-info h2 {
	padding-bottom: 5rem;
}

.main__image-section p {
	position: absolute;
	top: 62vh;
	left: 8vw;
	font-family: var(--primary-font-family);
	font-size: 5rem;
	color: white;
	text-shadow: 2px 2px 5px black;
	padding: .3em;
}


.main__advantages {
	display: grid;
	grid-template-columns: repeat(2, minmax(500px, .6fr));
	grid-auto-flow: dense;
	grid-gap: 2em;
	margin: 3em 0;
}

.main__advantages div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-top: 2px solid var(--secondary-color);
	padding: 1rem 0;
}

.main__advantages:nth-child(odd) div {
	align-items: flex-end;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.main__advantages:nth-child(even) div {
	align-items: flex-start;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.main__advantages div p {
	font-size: 2rem;
}

.main__advantages a {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
	font-family: var(--primary-font-family);
	padding: .7em 1.5em;
	background-color: transparent;
	border: 2px solid var(--secondary-color);
	outline: none;
	cursor: pointer;
	text-decoration: none;
	color: black;
}

.main__attractions {
	display: grid;
	grid-gap: 2em;
	align-content: center;
	justify-content: space-evenly;
}

.main__attractions div {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: .5rem;
	text-align: center;
}

.main__attractions i {
	font-size: 7rem;
}

.main__attractions p {
	font-size: 2.3rem;
	font-weight: 700;
}


footer {
	background-color: black;
	width: 100%;
	height: 7vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--primary-font-family);
	color: var(--secondary-color);
	padding: 1em;
	text-align: center;
}

.active {
    border-bottom: 2px solid var(--secondary-color);
}

.header__nav-menu i {
	font-size: 1.8em;
	display: none;
}

.header__nav-menu a {
	text-decoration: none;
}

@media (min-width: 1641px) {
	.main__attractions {
		grid-template-columns: repeat(3, 410px);
		grid-auto-rows: 410px;
	}
}

@media (max-width: 1640px) {
	.main__attractions {
		grid-template-columns: repeat(3, 380px);
		grid-auto-rows: 380px;
	}
}

@media (min-width: 1281px) {
	* {
		font-size: 16px;
	}
}

@media (max-width: 1280px) {
	* {
		font-size: 15px;
	}
	.header__nav-item {
		display: none;
	}
	.header__nav-menu i {
		display: flex;
	}
	.header__navbar {
		justify-content: space-between;
	}
	.header__nav-logo, .fa-bars {
		width: auto;
	}
	.main__attractions {
		grid-template-columns: 400px;
		grid-auto-rows: 400px;
	}
	.main__advantages {
		grid-template-columns: minmax(400px, .6fr);
		grid-auto-rows: min-content;
		justify-content: center;
	}
	.main__advantages:nth-child(odd) div {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	.main__advantages:nth-child(even) div {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
}

@media (max-width: 1024px) {
	* {
		font-size: 14px;
	}
}

@media (max-width: 768px) {
	* {
		font-size: 13px;
	}
	.main-info {
		grid-template-columns: minmax(400px, 1fr);
	}
	.main__advantages {
		grid-template-columns: minmax(500px, .6fr);
	}
	.main__attractions {
		grid-template-columns: 400px;
		grid-auto-rows: 400px;
	}
}

@media (max-width: 640px) {
	* {
		font-size: 12px;
	}
	.main__image-section p {
		top: 55vh;
		left: 5vw;
		font-size: 4.3rem;
	}
	.main-info {
		grid-template-columns: minmax(400px, 1fr);
	}
	.main__advantages {
		grid-template-columns: minmax(400px, .6fr);
	}
	.main__attractions {
		grid-template-columns: 350px;
		grid-auto-rows: 350px;
	}
}

@media (max-width: 460px) {
	* {
		font-size: 11px;
	}
	.main__image-section p {
		top: 50vh;
		left: 5vw;
		font-size: 4rem;
	}
	.main-info {
		grid-template-columns: minmax(300px, 1fr);
	}
	.main__advantages {
		grid-template-columns: minmax(300px, .6fr);
	}
	.main__attractions {
		grid-template-columns: 300px;
		grid-auto-rows: 300px;
	}
}

@media (max-width: 320px) {
	* {
		font-size: 10px;
	}
	.main__image-section p {
		font-size: 3.5rem;
	}
	.main-info {
		grid-template-columns: minmax(260px, 1fr);
	}
	.main__advantages {
		grid-template-columns: minmax(260px, .6fr);
	}
	.main__attractions {
		grid-template-columns: 260px;
		grid-auto-rows: 260px;
	}
}

@media (max-width: 250px) {
	* {
		font-size: 9px;
	}
	.main__image-section p {
		font-size: 3rem;
	}
	.main-info {
		grid-template-columns: minmax(200px, 1fr);
	}
	.main__advantages {
		grid-template-columns: minmax(200px, .6fr);
	}
	.main__attractions {
		grid-template-columns: 200px;
		grid-auto-rows: 200px;
	}
}